* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FAFAFA;
}

.dark-mode {
    background-color: rgb(36, 36, 36);
    color: #FAFAFA;
}

.container:nth-child(1) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

button {
    border: none;
    outline: none;
    background: none;
}

.toggle {
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 20px;
    background: none;

}

.controls input {
    outline: none;
    border: none;
    width: 200px;
    background: none;
}

.dropdownMenu {
    width: 200px;
    cursor: pointer;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 20px;
    background: none;
}

.drop-options {
    display: none;
    position: absolute;
    width: 200px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    margin-top: 5px;
    border-radius: 5px;
    background: none;
}

.drop-options p {
    margin: 5px 0px;
}

.show-options {
    display: block;
}

.countries {
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    justify-items: center;
    padding: 30px;
    cursor: pointer;
}

.country {
    width: 300px;
    height: 380px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    background: none;
}

.country-img img {
    object-fit: cover;
    width: 300px;
    height: 190.24px;
    flex-shrink: 0;
}

.country-details {
    justify-content: center;
    padding: 20px 20px;
}

.country-details strong {
    margin-right: 10px;
}
.country-details p {
    padding-top: 8px;
}

.country-details h3 {
font-size: 20px;
margin-bottom: 20px;
}

